*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(QRCodeImg1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid #00bfff;
    border-radius: 20px;
}

/* .showcase{
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 20px;
}
.video-container {
	position:absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	overflow:hidden;
	border: 5px solid #00bfff;
    border-radius: 20px;
} */
.container{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #808080;
    border-radius: 20px;
    border: 5px solid ;
    border-top-color: #ff1493;
    border-left-color: #8a2be2;
    border-right-color: #800000;
    border-bottom-color: #ff00ff;
	background-color: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}
.container p{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;
    color: #ff6347;
       
}
.container input{
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: 2px solid #008080 ;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 15px;
    text-align: center;
    color: red;
    font-weight: bold;
}
.container button{
    width: 100%;
    height: 50px;
    font-size: 15px;
    background: #494eea;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;
}
#imgBox{
    width: 200px;
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}
#imgBox img{
    width: 100%;
    padding: 10px;
}
#imgBox.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 3px dotted green;
}
.error{
    animation: shake 0.1s linear 10;
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}
